extends layout
block content
    h1=empresa
    form(action="",method="POST")
        input(type="hidden", name="empresa",id="empresa", value=idEmpresa)
        //- input(type="hidden", name="dados_recomendacao")
        label Recomendação
        select(class="form-control",name="recomendacao", required=true)
            option(value="COMPRA") COMPRA
            option(value="COMPRA") VENDA
            option(value="COMPRA") NEUTRA
        label URL Podcast
        input(type="Text",class="form-control",name="url", required=true)
        label Data
        input(type="Text",class="form-control",name="data", required=true)
        label Ticker
        input(type="Text",class="form-control",name="ticker", required=true)
        label Autor
        input(type="Text",class="form-control",name="disclaimer", required=true)
        label Alvo         
        input(type="Text",class="form-control",name="values", id="alvo", required=true)
        label Texto
       
    textarea(name="texto" id="texto")
    button(class="btn btn-primary", onclick="envia()") salvar
        
    script.
        CKEDITOR.replace( 'texto' );
        function envia(){
            var bod=$('form').serialize();
            bod+="&texto="+CKEDITOR.instances.texto.getData();;
            bod+="&dados_recomendacao=[{\"label\":\"alvo\", \"values\":"+$('#alvo').val()+"}]";            
            $.post("./save",bod,function(e){
                    document.location="/recomendacao/lista?empresa="+$("#empresa").val();
            });
        }
    
    

