extends layout
block content
    h1=empresa
    h3 Recomendações
    a(href="./novo?empresa="+idEmpresa, class="btn btn-primary") Novo
    table(class="table")
        thead
            th Data 
            th Ticker  
            th Publicado 
            th Recomendação       
            
        tbody
        each item in lista
            tr
                td=item.data.substring(6,8)+"/"+item.data.substring(4,6)+"/"+item.data.substring(0,4) 
                td=item.ticker                
                td
                    input(type="checkbox",checked=item.publicado, disabled=true)
                td
                    span=item.recomendacao
                td
                    a(href="./visualizar?id="+item._id, class="btn btn-primary") visualziar
                
                    
                   

    script $("table").DataTable();