extends layout
block content
    


    h2=recomendacao.ticker
    label Recomendação:
    span=recomendacao.recomendacao
    br
    br
    if !recomendacao.publicado 
        button(onclick="publicar('"+recomendacao._id+"',true)", class="btn btn-primary") Publicar
    else
        button(onclick="publicar('"+recomendacao._id+"',false)", class="btn btn-primary") Despublicar
    br
    br
    if !recomendacao.publicado                      
            button(onclick="excluir('"+recomendacao._id+"',false)", class="btn btn-primary") Excluir
    br
    br
    label Data:
    span=recomendacao.data.substring(6,8)+"/"+recomendacao.data.substring(4,6)+"/"+recomendacao.data.substring(0,4)
    br
    br
    label Texto:
    p!=recomendacao.texto

    script. 
        function publicar(id,pub){
            if(confirm("Deseja Publicar?",id))
                $.post("./publicar",{recomendacao:id,publicado:pub}, function(){
                    location.reload();
                });

        }
        function excluir(id){
            if(confirm("Deseja Excluir?",id))
                $.get("./excluir?id="+id, function(){
                    documento.location="/empresas/lista";
                });

        }